.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.metadata
.idea/
.vscode/
*.swp
.DS_Store
coverage/
.pub-cache/
.pub/
pubspec.lock
android/.gradle/
android/local.properties
android/app/src/main/java/io/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# Rust
rust/target/

# Generated FRB bindings
lib/src/rust/
