.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.metadata
.idea/
.vscode/
*.swp
.DS_Store
coverage/
.pub-cache/
.pub/
pubspec.lock
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# Rust
rust/target/

# Generated FRB bindings
lib/src/rust/
